* {
  margin: 0;
  padding: 0;
}
.header-block {
  background-color: #000;
  color: #fff;
  line-height: 2rem;
  font-weight: bold;
  padding: 0 0.5rem;
}
.menu-block {
  background-color: #ddd;
  line-height: 2rem;
  padding: 0 0.5rem;
}
.content-block {
  padding: 0 0.5rem;
}
table {
  border-collapse: collapse;
  margin-bottom: 0.5rem;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 0.1rem 0.3rem;
}
table th {
  background-color: #ddd;
}
button {
  line-height: 1.2rem;
  min-width: 6rem;
}
